<header>
 <nav>
  <ul>
   <li>
    <a href="/add-user">Add User</a>
   </li>
   <li>
    <a href="/edit-user">Edit Users</a>
   </li>
   <li>
    <a href="/index">Users</a>
   </li>
   <li>
    <a href="/cart">Cart</a>
   </li>
   <li>
    <a href="/checkout">Checkout</a>
   </li>
   <li>
    <a href="/user-detail">User Detail</a>
   </li>
  </ul>
 </nav>
</header>