<header>
 <nav>
  <ul>
   <li>
    <a href="/">Users</a>
   </li>
   <li>
    <a href="/accounts">Accounts</a>
    <!-- <p>where does account come from?</p> -->
   </li>
   <li>
    <a href="/cart">Cart</a>
   </li>
   <li>
    <a href="/admin/add-account">Add Account</a>
   </li>
   <li>
    <a href="/admin/accounts">Admin Accounts</a>
   </li>
  </ul>
 </nav>
</header>