<%- include('./head.ejs') %>
<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<header>
 <nav>
  <ul>
   <li>
    <a href="/">Users</a>
   </li>
   <li>
    <a href="/accounts">Accounts</a>
    <!-- <p>where does account come from?</p> -->
   </li>
   <li>
    <a href="/cart">Cart</a>
   </li>
   <li>
    <a href="/orders">Orders</a>
   </li>
   <li>
    <a href="/admin/add-account">Add Account</a>
   </li>
   <li>
    <a href="/admin/accounts">Admin Accounts</a>
   </li>
  </ul>
 </nav>
 <button type="button" class="btn btn-primary">Primary</button>
</header>