<%- include('includes/head.ejs') %>
<body>
<%- include('includes/navigation.ejs') %>
 <h1>Users</h1>
 <% if(users.length > 0) { %>
  <ul>
   <% users.forEach((u) => { %>
    <li><%= u.user %></li>
   <% }) %> 
  </ul>
 <% } else { %>
  <h1>No User found</h1>
 <% } %> 
<%- include('includes/end.ejs') %>