<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css">
    <title>FORM</title>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-hearder__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">Home</a></li>
          <li class="main-header__item"><a class="active" href="/challenge/form">Form</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Fill in the form</h1>
      <form class="form" action="/" method="POST">
        <div class="form-control">
          <label for="name">Name</label>
          <input type="text" name="name" id="name">
          
          <label for="age">Age</label>
          <input type="text" name="age" id="age">
        </div>

       <button type="submit">Send</button>
      </form>
    </main>
  </body>
</html>
